@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  font: normal 100%/1.3 "Open Sans";
  -moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* Navigation & Banner */

header {
  background-color: #676767;
  position: relative;
  height: 60px;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  color: #fff;
  margin: 0;
  float: left;
  padding: 0;
  font-size: 1.5rem;

  position: absolute;
  bottom: .25rem;
  left: 1.3rem;
}

/* Hamburger Button */
.top-nav {
  background-color: white;
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 1rem;
  list-style-type: none;
  display: none;

  position: absolute;
  right: 1.3rem;
  top: 5rem;
}

.top-nav li {
  background-color: white;
  text-align: center;
  padding: 1rem 3.5rem 1rem 3.5rem;
}

.top-nav li:hover a {
  color: #fff;
}

.top-nav li:hover {
  background-color: #676767;
  cursor: pointer;
}

.nav-check {
  position: absolute;
  top: -3rem;
}

.nav-check:checked ~ .top-nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

#triangle {
  display: none;
}

.nav-check:checked ~ #triangle {
  display: block;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

#triangle {
    width: 0;
    height: 0;
    border-bottom: 40px solid white;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;

    position: absolute;
    right: 1.3rem;
    top: 100%;
}

/* Button style */

.btn {
  color: #fff;
  border: solid 4px #fff;
  border-radius: 8px;
  display: inline-block;
  padding: 0.6em 0.75em 0.4em;
  font-size: 1.25rem;
  padding: .5rem;
  text-align: center;
}

.btn-ghost {
  background-color: white;
  color: #333;
}

.btn-ghost:hover {
  background-color: #333;
  border-color: #333;
}

.banner-small {
  width: 100%;
}

.banner-large {
  display: none;
}

/* Value Proposition */

h2 {
  color: #333;
  font-family: 'Amatic SC', cursive;
  font-size: 3.50rem;
  margin: 2.6rem 1.3rem 2.6rem 1.3rem;
}

h2 + p {
  font-size: 1.25rem;
  margin: 2.6rem 1.3rem 2.6rem 1.3rem;
}

main {
  position: relative;
}

.banner-content {
  text-align: center;
  width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

/* Link Cards */

.link-cards {
  width: 25%;
}
